<section id="nosotros" class="mb-8 mx-10">
  <div class="bg-sky-400 p-4">
    <div class="flex justify-evenly">
      <img src="assets/pencas.jpg" class="block m-auto h-auto w-72" />
      <img src="assets/pencas01.jpg" alt="" class="block m-auto h-auto w-72" />
      <img src="assets/pencas02.jpg" alt="" class="block m-auto h-auto w-72" />
      <img src="assets/pencas03.jpg" alt="" class="block m-auto h-auto w-72" />
    </div>
    <h2 class="text-2xl font-bold mb-4">Sobre nosotros</h2>
    <p>
      En Colegio Las Pencas, nos enorgullecemos de ofrecer una educación
      integral que va más allá de la enseñanza en el aula. Nuestro compromiso
      con la excelencia académica se combina con un enfoque en el desarrollo
      personal, la inclusión y el fomento de valores éticos. Nuestra institución
      se distingue por contar con un equipo de educadores apasionados y
      altamente cualificados, que se esfuerzan por inspirar y guiar a nuestros
      estudiantes en su viaje educativo. Creemos en la importancia de nutrir la
      curiosidad, la creatividad y el pensamiento crítico, preparando a nuestros
      alumnos para enfrentar los desafíos del mundo actual. Nuestra misión es
      proporcionar un entorno educativo seguro, inclusivo y estimulante, donde
      cada estudiante se sienta valorado, respetado y motivado a alcanzar su
      máximo potencial. Estamos comprometidos con el desarrollo integral de
      nuestros alumnos, preparándolos para convertirse en ciudadanos
      responsables, compasivos y preparados para enfrentar el futuro con
      confianza. En Colegio Las Pencas, estamos dedicados a brindar una
      educación de calidad que inspire, desafíe y empodere a nuestros
      estudiantes a alcanzar sus metas y contribuir positivamente a la sociedad.
      ¡Bienvenidos a nuestra comunidad educativa, donde el aprendizaje y el
      crecimiento van de la mano!
    </p>
  </div>
</section>
