<section id="cursos" class="mb-8 mx-10">
  <h2 class="text-2xl font-bold mb-4">Nuestros cursos</h2>
  <div class="grid grid-cols-3 gap-4">
    <div class="bg-sky-400 p-4">
      <h3 class="font-bold">Inicial</h3>
      <p>
        "En Inicial del Colegio Las pencas, nos comprometemos a brindar una
        educación de calidad que fomente la curiosidad, la creatividad y el amor
        por el aprendizaje. Nuestro enfoque en valores éticos y el desarrollo
        integral de cada estudiante nos distingue como una institución educativa
        comprometida con el éxito académico y personal de nuestros alumnos.
        ¡Bienvenidos a una experiencia educativa enriquecedora y emocionante en
        nuestra primaria!"
      </p>
    </div>
    <div class="bg-sky-400 p-4">
      <h3 class="font-bold">Secundaria</h3>
      <p>
        "En la secundaria del Colegio Las Pencas, nos esforzamos por ofrecer una
        educación que prepara a nuestros estudiantes para el éxito académico y
        personal. Nuestro enfoque en el desarrollo de habilidades críticas, la
        participación activa y el crecimiento personal promueve un ambiente de
        aprendizaje estimulante y enriquecedor. ¡Bienvenidos a una experiencia
        educativa que desafía, inspira y prepara a nuestros estudiantes para un
        futuro brillante!"
      </p>
    </div>
    <div class="bg-sky-400 p-4">
      <h3 class="font-bold">Bachillerato</h3>
      <p>
        "En el Bachillerato del Colegio Las Pencas, brindamos una educación de
        calidad que desafía, inspira y prepara a nuestros estudiantes para
        alcanzar sus metas académicas y personales. Nuestro enfoque en el
        pensamiento crítico, la excelencia académica y el desarrollo de
        habilidades para la vida ofrece a nuestros estudiantes un camino hacia
        el éxito en un entorno de apoyo y crecimiento. ¡Bienvenidos a una
        experiencia educativa que impulsa el potencial de cada estudiante!"
      </p>
    </div>
  </div>
</section>
