<section class="mb-8">
  <div class="bg-sky-400 p-4 mx-10">
    <h2 class="text-2xl font-bold mb-4">BIENVENIDOS</h2>
    <p>
      ¡Bienvenidos a la Unidad Educativa Particular Las Pencas! En nuestro
      colegio, nos esforzamos por brindar una educación de calidad, fomentando
      el desarrollo integral de nuestros estudiantes. Nuestro compromiso con la
      excelencia académica, el cuidado personalizado y el enfoque en valores
      éticos nos distingue como una institución educativa de confianza. En el
      Colegio Las Pencas, creemos en el potencial único de cada estudiante y nos
      dedicamos a proporcionar un ambiente de aprendizaje enriquecedor que
      promueva la curiosidad, la creatividad y el crecimiento personal. Nuestro
      equipo de educadores altamente calificados se compromete a guiar, inspirar
      y apoyar a nuestros alumnos en su viaje educativo. Además de ofrecer un
      plan de estudios riguroso, también valoramos la participación activa de
      los padres y la comunidad en la educación de nuestros estudiantes. Estamos
      comprometidos con la creación de un entorno inclusivo, diverso y
      enriquecedor que fomente el desarrollo de habilidades para la vida y el
      pensamiento crítico. En el Colegio Las Pencas, nos enorgullecemos de ser
      una comunidad educativa que nutre el crecimiento académico, social y
      emocio nal de nuestros estudiantes, preparándolos para un futuro brillante
      y exitoso. ¡Gracias por elegir a la Unidad Educativa Particular Las Pencas
      como su destino educativo!
    </p>
  </div>
</section>
